{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": false
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}

