@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210.0000 40.0000% 96.0784%;
    --foreground: 222.2222 47.3684% 11.1765%;
    --card: 0 0% 100%;
    --card-foreground: 222.2222 47.3684% 11.1765%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2222 47.3684% 11.1765%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.2857 31.8182% 91.3725%;
    --secondary-foreground: 217.2414 32.5843% 17.4510%;
    --muted: 210.0000 40.0000% 96.0784%;
    --muted-foreground: 215.3846 16.3180% 46.8627%;
    --accent: 214.2857 94.5946% 92.7451%;
    --accent-foreground: 224.2781 76.3265% 48.0392%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.2857 31.8182% 91.3725%;
    --input: 210.0000 40.0000% 96.0784%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 37.6923 92.1260% 50.1961%;
    --chart-3: 160.1183 84.0796% 39.4118%;
    --chart-4: 238.7324 83.5294% 66.6667%;
    --chart-5: 349.7238 89.1626% 60.1961%;
    --sidebar: 204.0000 93.7500% 93.7255%;
    --sidebar-foreground: 224.4444 64.2857% 32.9412%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 213.3333 96.9231% 87.2549%;
    --sidebar-accent-foreground: 225.9310 70.7317% 40.1961%;
    --sidebar-border: 212.7273 26.8293% 83.9216%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: Inter, system-ui, -apple-system, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0px 2px 10px 0px hsl(0 0 0 / 0.03);
    --shadow-xs: 0px 2px 10px 0px hsl(0 0 0 / 0.03);
    --shadow-sm: 0px 2px 10px 0px hsl(0 0 0 / 0.05), 0px 1px 2px -1px hsl(0 0 0 / 0.05);
    --shadow: 0px 2px 10px 0px hsl(0 0 0 / 0.05), 0px 1px 2px -1px hsl(0 0 0 / 0.05);
    --shadow-md: 0px 2px 10px 0px hsl(0 0 0 / 0.05), 0px 2px 4px -1px hsl(0 0 0 / 0.05);
    --shadow-lg: 0px 2px 10px 0px hsl(0 0 0 / 0.05), 0px 4px 6px -1px hsl(0 0 0 / 0.05);
    --shadow-xl: 0px 2px 10px 0px hsl(0 0 0 / 0.05), 0px 8px 10px -1px hsl(0 0 0 / 0.05);
    --shadow-2xl: 0px 2px 10px 0px hsl(0 0 0 / 0.13);
    --tracking-normal: -0.01em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 222.2222 47.3684% 11.1765%;
    --foreground: 210.0000 40.0000% 96.0784%;
    --card: 217.2414 32.5843% 17.4510%;
    --card-foreground: 210.0000 40.0000% 96.0784%;
    --popover: 217.2414 32.5843% 17.4510%;
    --popover-foreground: 210.0000 40.0000% 96.0784%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215.2941 25.0000% 26.6667%;
    --secondary-foreground: 210.0000 40.0000% 96.0784%;
    --muted: 217.2414 32.5843% 17.4510%;
    --muted-foreground: 215.0000 20.2247% 65.0980%;
    --accent: 225.9310 70.7317% 40.1961%;
    --accent-foreground: 213.3333 96.9231% 87.2549%;
    --destructive: 0 70% 35.2941%;
    --destructive-foreground: 0 90.6040% 70.7843%;
    --border: 215.2941 25.0000% 26.6667%;
    --input: 217.2414 32.5843% 17.4510%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 37.6923 92.1260% 50.1961%;
    --chart-3: 160.1183 84.0796% 39.4118%;
    --chart-4: 238.7324 83.5294% 66.6667%;
    --chart-5: 349.7238 89.1626% 60.1961%;
    --sidebar: 220.9091 39.2857% 10.9804%;
    --sidebar-foreground: 210.0000 40.0000% 96.0784%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217.2414 32.5843% 17.4510%;
    --sidebar-accent-foreground: 210.0000 40.0000% 96.0784%;
    --sidebar-border: 215.0000 27.9070% 16.8627%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: Inter, system-ui, -apple-system, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 15px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0px 4px 15px 0px hsl(0 0 0 / 0.10);
    --shadow-xs: 0px 4px 15px 0px hsl(0 0 0 / 0.10);
    --shadow-sm: 0px 4px 15px 0px hsl(0 0 0 / 0.20), 0px 1px 2px -1px hsl(0 0 0 / 0.20);
    --shadow: 0px 4px 15px 0px hsl(0 0 0 / 0.20), 0px 1px 2px -1px hsl(0 0 0 / 0.20);
    --shadow-md: 0px 4px 15px 0px hsl(0 0 0 / 0.20), 0px 2px 4px -1px hsl(0 0 0 / 0.20);
    --shadow-lg: 0px 4px 15px 0px hsl(0 0 0 / 0.20), 0px 4px 6px -1px hsl(0 0 0 / 0.20);
    --shadow-xl: 0px 4px 15px 0px hsl(0 0 0 / 0.20), 0px 8px 10px -1px hsl(0 0 0 / 0.20);
    --shadow-2xl: 0px 4px 15px 0px hsl(0 0 0 / 0.50);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}